@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Sans+3:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 200;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.spinner-container {
  display: none; /* Hide spinner by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure spinner is on top of other content */
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 6px solid rgba(0, 0, 0, 0.3); /* Light border color */
  border-top: 6px solid #333; /* Darker top border color */
  border-radius: 50%; /* Circle shape */
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Start rotation from 0 degrees */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* End rotation at 360 degrees */
  }
}

.button-19 {
  appearance: button;
  min-width: fit-content;
  max-width: max-content;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.head-title {
  margin-top: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: 2rem;
}

.difficulty {
  display: flex;
}

.container {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.container .mistake {
  background-color: white;
  box-sizing: border-box;
  min-width: fit-content;
  max-width: max-content;
  padding: 0.75rem 1rem;
  color: #111827;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.25rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.difficulty-text {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39 {
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: background-color 0.3s ease-in-out;
}

.button-39:hover {
  background-color: rgba(163, 237, 212, 0.6);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.timer-container {
  max-width: max-content;
}

#timer {
  background-color: #ffffff;
  border: 1px solid white;
  min-width: 5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#game {
  opacity: 0;
}

.gameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

#gameBoard {
  height: 70vmin;
  width: 70vmin;
  background: #ffff;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
}

.tile {
  height: calc(100% / 9);
  width: calc(100% / 9);
  border: 1px solid #ccc;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filled {
  background: #ededed;
}

.select-tile {
  background: rgba(64, 215, 165, 0.6);
}

.digitContainer {
  max-width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 1.2em;
  row-gap: 1.3rem;
}

#digits .tile {
  align-self: center;
  width: 5rem;
  height: 5rem;
  background: rgb(127, 255, 212, 0.6);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 400;
  border: 1px solid grey;
  color: rgb(14, 13, 13);
  cursor: default;
}

.filled {
  cursor: default;
}

.border-right {
  border-right: 2px solid black;
}

.border-bottom {
  border-bottom: 2px solid black;
}

#delete i {
  font-weight: 900;
  font-size: 25px;
  color: rgba(64, 215, 165);
  cursor: pointer;
}

.erase {
  padding: 3px;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  background: #eaeef4;
  border-radius: 50%;
}

.earseer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.erase-text {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding-bottom: 1rem;
}

.wrong-entry {
  color: red;
}

.select-diff {
  color: rgba(64, 215, 165);
}

.start-btn {
  font-size: 15pt;
  font-family: 'Press Start 2p';
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(130, 244, 206, 0.8);
  text-shadow: -1px -1px rgba(64, 215, 165, 0.5), 1px 1px rgb(210, 243, 232);
  color: rgba(64, 215, 165);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em rgba(64, 215, 165);
  cursor: pointer;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}


footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.heart {
  color: rgb(255, 89, 117);
}

